<html>
    <html>
    <head>
      <style type="text/css">
        a { color: #1650ec; }
      </style>
      <style type="text/css">
        p { font-size:17px; }
      </style>
    </head>
    <body>
    <p>Hello Team,</p>
  <p>Have you heard about aurOps? It’s our exclusive program for iauro, where you can access/manage your project,
   tasks, notes, code</br> integration, deployment automation along with reports like DSR, WSR, Project reports,
    Keep maintaining notes.<br></p>
  <p>We have onboarded <%= project_name %> Project on aurOps, with staged 1 release ( where you can use the features like</br> 
         project access, tasks access, notes maintenance, DSR, WSR, Meeting Notes )</p>
<p>Platform: <a href="http://ops.iauro.co/">http://ops.iauro.co/</a></p> 
<p>Credentials: Your iauro email ID as email and password is your lastname100 for e.g If your name is <strong>Mark Birch</strong> your </br>password will be <strong> birch100</strong> </p>
<p>You can do your usual jira task movement through <a href="https://iaurosys.atlassian.net/secure/RapidBoard.jspa?rapidView=<%= board_id %>">Sprint dashboard</a> (your existing JIRA  credentials ), this will help to</br> populate the DSR into the system.</p>
<p><i>Some of the tips for the subtask creation</i></p>
<p><ol>
      <li>Add required estimate for the sub-task</li>
      <li>Add due date for the sub-task</li>
      <li>Select subtask type as Development, Testing or Other based on your sub-task </li>
      <li>Add output and outcome within the sub-task</li>
</ol></p>
  </body>
  </html>