<html>
    <html>
    <head>
      <style type="text/css">
        a { color: #1650ec; }
      </style>
      <style type="text/css">
        p { font-size:17px; }
      </style>
    </head>
    <body>
    <p>Hello ,</p>
  <p>You have successfully created your team</p>
  </body>
  </html>